@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;700&display=swap');
.header{
    width: 100%;
    background-color: #77002e;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.header a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    
    
}

/* header a:active : link becomes active when clicked
 The first rule incorporates "pseudo" classes, which target the element when it's in a certain state. 
The :active pseudo-selector applies to the element when the user is clicking on it. */

header a:hover, 
header a:active, 
header a.active{
    color: white;
    font-weight: 700;
    border-bottom: 0.5px solid #cecece;
    
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 5rem;
}

.list{
    display: flex;
    margin-right: 5rem;
    gap: 2rem;

}

.item{
    list-style-type: none;
    
    
}

.favorites{
    margin-left: 10px;
    background-color: #99033d;  
    border-radius: 5px;
    border: 1px solid #cecece;
    font-size: 1rem;
    padding-inline: 6px;
    margin-bottom:10px;
    color: white;
    font-weight: bold;
    
}
.favoritesActive{
    background: green;
    margin-left: 10px;    
    border-radius: 5px;
    border: 1px solid #cecece;
    font-size: 1rem;
    padding-inline: 6px;
    margin-bottom:10px;
    color: white;
    font-weight: bold;
}