.list{
    list-style: none;
    overflow: hidden;
    margin: 50px;
    padding: 20px;
}

.favoriteAligner{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}
.title{
    text-align: center;
    font-size: 2.5rem;
    color: rgba(0,0,0,0.6);
    font-weight: 700;
    margin:8px;
}

.image{
    object-fit: fill;
    width: 100%;
    height: 20rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0,0,0,0.9);
    font-size: 0.8rem;
    font-weight: 400;

}

.label{
    background: rgba(0,0,0,0.2);
    padding: 0.4rem;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-top: 10px;
  
}
.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  
}

.favoriteButton{  
    background-color:#99033d; 
    color: white;
    border-radius: 8px;
    padding: 4px 10px;  
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
}

.favoriteButton:hover{
    background-color:#38071a;
    transition: 500ms; 
}