
.formContainer {
    background-color: #77002e;
    padding: 50px;
    margin: 30px 100px 50px 100px;
    width: 600px;
    border-radius: 8px;
}

.fieldContainer{
    display: flex;
    flex-direction: column;
    
}
.label{
    color: white;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.inputField{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 1.1rem;
    color: #77002e;
}

.inputTextarea{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    resize: none;
    font-size: 1.1rem;
    color: #77002e;
}

.button{
    width: 100%;
    background-color:#99033d; 
    color: white;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid white;
}
.button:hover{
    transition: 500ms; 
    background-color:#38071a;
}