.container{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.loadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.loading{
    font-size: 3rem;
    color: rgba(0,0,0,0.6);
}